@font-face {
    font-family: Roboto Regular;
    src: url("../fonts/google-fonts/roboto-regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/google-fonts/roboto-condensed.ttf");
}

@font-face {
    font-family: Roboto Black;
    src: url("../fonts/google-fonts/roboto-black.ttf");
}

@font-face {
    font-family: National Light;
    src: url("../fonts/google-fonts/national-light.ttf");
}

@font-face {
    font-family: HelveticaLight;
    src: url("../fonts/google-fonts/helvetica-light.ttf");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("../fonts/google-fonts/helvetica_neue_light.ttf");
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/google-fonts/open-sans-regular.ttf");
}

@font-face {
    font-family: octoicons;
    src: url("../octicons/octicons.ttf");
}

/* Menu Font */
.mp-menu{
    font-family: Roboto;
}

/* Next-Slide, Prev-Slide font*/
.prev-slide .next-slide{
    font-family: HelveticaLight;
}

/* Front page header */
header{
    width:100%;
    height:4.7em;
    background:#03a9f4;
    top:0;
    left:0;
    z-index:200;
    position:fixed;
    color:#fff;
    -webkit-box-shadow: 0px 0px 8px 2px #666666;
    -moz-box-shadow: 0px 0px 8px 2px #666666;
    box-shadow: 0px 0px 8px 2px #666666;
}

.bits-logo{
    background: url('../images/bitslogo.svg') no-repeat;
    float: left;
    width: 4em;
    height: 4em;
    opacity: 1;
    background-size: 100% 100%;
    margin-left:10px;
    margin-right:10px;
    margin-top:0.2em;
    margin-bottom: 5px;
}


.menu-trigger{
    position: relative;
    padding-top:0.4em;
    text-indent: 0;
    display: inline-block;
    color: #114646;
    font-family: Roboto Black;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:6.5em;
    height: 1.6em;
    margin-top: 1em;
    text-decoration: none;
}

.menu-trigger-button{
    position: relative;
    text-indent: 0;
    display: inline-block;
    /*background: #114646!important;*/
    background: #03a9f4!important;
    color: #fff;
    font-family: Roboto;
    font-size: 1.1em;
    /*width:4em;*/
    margin-top: 1.4em;
    margin-left: 0.6em;
    text-decoration: none;

}

.menu-trigger-button:hover {
    background: #4285f4;
}

.menu-trigger-button::shadow #ripple {
    color: #fff;
}


.menu-trigger:hover{
    cursor: pointer;
}


/* First level menu */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open{
    background: #114646;
}

/* Next level menu */
.mp-overlap .mp-level.mp-level-open{
    background: #114646;
}


/* Main container */
.pic{
     position: relative;
     width:90%;
     min-height:50em;
     margin: auto;
     overflow-y: -moz-scrollbars-none;
     z-index: 1000;
}


footer{
    position: relative;
    font-family: Open Sans;
    font-weight:100;
    padding:1em;
    width:100%;
    height:7.4em;
    background:#222222;
    color:#ccc;
    top:0;
    left:0;
    z-index:100;
    -webkit-box-shadow: 0px 0px 8px 2px #666666;
    -moz-box-shadow: 0px 0px 8px 2px #666666;
    box-shadow: 0px 0px 8px 2px #666666;
}

/* Some arrangements for mobile display */
@media screen and (max-width: 600px) {
  .ugc-text {
    visibility: hidden;
  }

  .copyright-text {
    text-align: left!important;
  }
}





.page-heading{
    color:#114646;
    font-size:2em;
    font-family: Roboto Black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.page-general-text{
    color:#000;
    font-size:1em;
    font-family: Roboto;
}
